<a href="https://colab.research.google.com/github/timider/dscproj/blob/mid/dscmid.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [422]:
from __future__ import absolute_import, division, print_function, unicode_literals

import numpy as np
import pandas as pd
import seaborn as sns
from scipy import optimize
from scipy import stats
from sklearn.preprocessing import StandardScaler
import pymc3 as pm
import statsmodels.api as sm # check the error that cannot import name 'factorial' in from scipy.misc import factorial
import statsmodels.formula.api as smf
import matplotlib.pyplot as plt
import tensorflow as tf
import altair as alt
# from linearmodels.iv import IV2SLS
from tensorflow.keras import datasets, layers, models
from tensorflow import keras
from numpy import mean
from numpy import std
from numpy import absolute
from pandas import read_csv
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedKFold
from sklearn.linear_model import Lasso
from sklearn.linear_model import LinearRegression
from sklearn import datasets
from sklearn.linear_model import Lasso
from sklearn.model_selection import train_test_split

In [423]:
!git config --global user.name "timider"
!git config --global user.email "jas.darecki@gmail.com"
!git config --global user.password "brtbeERJHwe5@#$%"
token = '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'
username = 'timider'
repo = 'dscproj'
!git clone https://{token}@github.com/{username}/{repo}

fatal: destination path 'dscproj' already exists and is not an empty directory.

In [424]:
!git status
!git add --all
!git commit -a
!git push origin master

On branch main
Your branch is up to date with 'origin/main'.

Changes to be committed:
  (use "git reset HEAD <file>..." to unstage)

	new file:   dscproj

hint: Waiting for your editor to close the file... error: unable to start editor 'editor'
Please supply the message using either -m or -F option.
error: src refspec master does not match any.
error: failed to push some refs to 'https://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@github.com/timider/dscproj'

In [425]:
cpi = pd.read_csv("https://raw.githubusercontent.com/timider/dscproj/mid/CPIAUCSL.csv")
ppico = pd.read_csv("https://raw.githubusercontent.com/timider/dscproj/mid/PPIACO.csv")
gdp = pd.read_csv("https://raw.githubusercontent.com/timider/dscproj/mid/GDPC1.csv")
unemp = pd.read_csv("https://raw.githubusercontent.com/timider/dscproj/mid/UNRATE.csv")
govspend = pd.read_csv("https://raw.githubusercontent.com/timider/dscproj/mid/FGEXPND.csv")
savings = pd.read_csv("https://raw.githubusercontent.com/timider/dscproj/mid/PSAVERT.csv")
prod = pd.read_csv("https://raw.githubusercontent.com/timider/dscproj/mid/PRS85006091%20(1).csv")
aaa = pd.read_csv("https://raw.githubusercontent.com/timider/dscproj/mid/AAA.csv")
ts10 = pd.read_csv("https://raw.githubusercontent.com/timider/dscproj/mid/DGS10.csv")

In [426]:
cpi.head()

         DATE  CPIAUCSL_PC1
0  1962-01-01       1.10590
1  1962-04-01       1.23995
2  1962-07-01       1.46765
3  1962-10-01       1.23292
4  1963-01-01       1.12695

In [427]:
df = pd.merge(cpi, ppico, how='inner', on='DATE')
df = pd.merge(df, gdp, how='inner', on='DATE')
df = pd.merge(df, unemp, how='inner', on='DATE')
df = pd.merge(df, govspend, how='inner', on='DATE')
df = pd.merge(df, aaa, how='inner', on='DATE')
df = pd.merge(df, ts10, how='inner', on='DATE')
df = pd.merge(df, savings, how='inner', on='DATE')
df = pd.merge(df, prod, how='inner', on='DATE')

In [428]:
df = df.rename({
    'PPIACO_PC1':'PPI0',
    'CPIAUCSL_PC1':'CPI0',
    'GDPC1_PC1':'GDP0',
    'UNRATE':'U0',
    'FGEXPND_PC1':'GOVSPEND0',
    'DGS10':'BOND0',
    'PSAVERT':'S0',
    'PRS85006091':'PROD0',
    'DATE':'DATE0', 
    'AAA':'AAA0'   
}, axis='columns')

In [429]:
cpipred = []
for i in range(1, len(df['CPI0'])):
    cpipred.append(df['CPI0'][i])
cpipred = pd.DataFrame (cpipred, columns = ['CPI1'])

In [430]:
df = df.iloc[:-1 , :]

In [431]:
df = pd.concat([df, cpipred], axis=1) 
df = df. T. drop_duplicates(). T
df

,DATE0,CPI0,PPI0,GDP0,U0,GOVSPEND0,AAA0,BOND0,S0,PROD0,CPI1
0,1962-01-01,1.1059,-0.31447,7.56728,5.6,9.78344,4.39,3.86,11.3,7.0,1.23995
1,1962-04-01,1.23995,0.63898,6.72769,5.5,7.62818,4.28,4.0,11.7,3.8,1.46765
2,1962-07-01,1.46765,1.26984,6.00401,5.6,8.77395,4.32,3.94,11.6,3.8,1.23292
3,1962-10-01,1.23292,0.0,4.3071,5.5,8.90023,4.24,3.85,11.3,3.7,1.12695
4,1963-01-01,1.12695,-0.63091,3.59787,5.7,5.81773,4.19,3.95,10.9,2.3,1.32406
...,...,...,...,...,...,...,...,...,...,...,...
235,2020-10-01,1.27815,0.75377,-2.26292,6.7,23.45544,2.26,0.93,13.6,2.7,2.65838
236,2021-01-01,2.65838,11.34127,0.54698,6.0,64.41446,3.04,1.74,19.9,3.9,5.34102
237,2021-04-01,5.34102,19.71757,12.22668,5.9,-17.74758,2.79,1.45,12.6,2.2,5.38991
238,2021-07-01,5.38991,20.55141,4.94656,4.7,-8.9697,2.53,1.52,10.5,-0.4,7.09654
239,2021-10-01,7.09654,20.36808,5.53348,3.9,0.13917,2.65,1.52,7.5,1.9,8.55759

In [432]:
df_x = df[['AAA0', 'BOND0', 'GDP0', 'GOVSPEND0', 'PPI0', 'PROD0', 'S0', 'U0']]
dfst = df[['AAA0', 'BOND0', 'GDP0', 'GOVSPEND0', 'PPI0', 'PROD0', 'S0', 'U0']] = (df_x-df_x.mean())/df_x.std()
dfst

,AAA0,BOND0,GDP0,GOVSPEND0,PPI0,PROD0,S0,U0
0,-0.957945,-0.689003,1.843318,0.252523,-0.701394,3.017808,0.695371,-0.22328
1,-0.998507,-0.642629,1.504081,0.00209,-0.526396,1.078492,0.810091,-0.283558
2,-0.983757,-0.662504,1.211677,0.135224,-0.410606,1.078492,0.781411,-0.22328
3,-1.013257,-0.692316,0.526038,0.149897,-0.643675,1.017888,0.695371,-0.283558
4,-1.031695,-0.659191,0.239472,-0.208278,-0.759474,0.169438,0.580651,-0.163002
...,...,...,...,...,...,...,...,...
235,-1.743378,-1.659551,-2.128588,1.841161,-0.505327,0.411852,1.355011,0.439778
236,-1.455755,-1.391243,-0.993244,6.600453,1.437928,1.139095,3.161851,0.017832
237,-1.547942,-1.487304,3.725956,-2.946483,2.975333,0.108834,1.068211,-0.042446
238,-1.643816,-1.464117,0.784413,-1.926525,3.128378,-1.46686,0.465931,-0.765781
239,-1.599566,-1.464117,1.021558,-0.868107,3.094729,-0.072977,-0.39447,-1.248005

In [433]:
scale= StandardScaler()

In [434]:
cpist = scale.fit_transform(df['CPI0'].array.reshape(-1,1)) 
cpipredst = scale.fit_transform(df['CPI1'].array.reshape(-1,1))

In [435]:
dfst['CPI0']=cpist
dfst['CPI1']=cpipredst
dfst['DATE0']=df['DATE0']
dfst

,AAA0,BOND0,GDP0,GOVSPEND0,PPI0,PROD0,S0,U0,CPI0,CPI1,DATE0
0,-0.957945,-0.689003,1.843318,0.252523,-0.701394,3.017808,0.695371,-0.22328,-0.948867,-0.908809,1962-01-01
1,-0.998507,-0.642629,1.504081,0.00209,-0.526396,1.078492,0.810091,-0.283558,-0.901448,-0.828581,1962-04-01
2,-0.983757,-0.662504,1.211677,0.135224,-0.410606,1.078492,0.781411,-0.22328,-0.820901,-0.911286,1962-07-01
3,-1.013257,-0.692316,0.526038,0.149897,-0.643675,1.017888,0.695371,-0.283558,-0.903935,-0.948623,1962-10-01
4,-1.031695,-0.659191,0.239472,-0.208278,-0.759474,0.169438,0.580651,-0.163002,-0.941421,-0.879173,1963-01-01
...,...,...,...,...,...,...,...,...,...,...,...
235,-1.743378,-1.659551,-2.128588,1.841161,-0.505327,0.411852,1.355011,0.439778,-0.887935,-0.409040,2020-10-01
236,-1.455755,-1.391243,-0.993244,6.600453,1.437928,1.139095,3.161851,0.017832,-0.399687,0.536159,2021-01-01
237,-1.547942,-1.487304,3.725956,-2.946483,2.975333,0.108834,1.068211,-0.042446,0.549279,0.553385,2021-04-01
238,-1.643816,-1.464117,0.784413,-1.926525,3.128378,-1.46686,0.465931,-0.765781,0.566574,1.154697,2021-07-01
239,-1.599566,-1.464117,1.021558,-0.868107,3.094729,-0.072977,-0.39447,-1.248005,1.170283,1.669482,2021-10-01

In [436]:
X = dfst.iloc[:,:9]
X

,AAA0,BOND0,GDP0,GOVSPEND0,PPI0,PROD0,S0,U0,CPI0
0,-0.957945,-0.689003,1.843318,0.252523,-0.701394,3.017808,0.695371,-0.22328,-0.948867
1,-0.998507,-0.642629,1.504081,0.00209,-0.526396,1.078492,0.810091,-0.283558,-0.901448
2,-0.983757,-0.662504,1.211677,0.135224,-0.410606,1.078492,0.781411,-0.22328,-0.820901
3,-1.013257,-0.692316,0.526038,0.149897,-0.643675,1.017888,0.695371,-0.283558,-0.903935
4,-1.031695,-0.659191,0.239472,-0.208278,-0.759474,0.169438,0.580651,-0.163002,-0.941421
...,...,...,...,...,...,...,...,...,...
235,-1.743378,-1.659551,-2.128588,1.841161,-0.505327,0.411852,1.355011,0.439778,-0.887935
236,-1.455755,-1.391243,-0.993244,6.600453,1.437928,1.139095,3.161851,0.017832,-0.399687
237,-1.547942,-1.487304,3.725956,-2.946483,2.975333,0.108834,1.068211,-0.042446,0.549279
238,-1.643816,-1.464117,0.784413,-1.926525,3.128378,-1.46686,0.465931,-0.765781,0.566574
239,-1.599566,-1.464117,1.021558,-0.868107,3.094729,-0.072977,-0.39447,-1.248005,1.170283

In [437]:
y = dfst.iloc[:,9]
y

0     -0.908809
1     -0.828581
2     -0.911286
3     -0.948623
4     -0.879173
         ...
235   -0.409040
236    0.536159
237    0.553385
238    1.154697
239    1.669482
Name: CPI1, Length: 240, dtype: float64

In [438]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2, random_state=44)

In [439]:
lasso = Lasso(alpha=0.5)

In [440]:
lasso.fit(X_train, y_train)

Lasso(alpha=0.5)

In [441]:
lasso.score(X_test,y_test), lasso.score(X_train,y_train)

(0.5975902660393875, 0.6476658941247022)

In [442]:
lasso.coef_

array([ 0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
       -0.        ,  0.        ,  0.        ,  0.43600436])

In [443]:
df.head(7)

,DATE0,CPI0,PPI0,GDP0,U0,GOVSPEND0,AAA0,BOND0,S0,PROD0,CPI1
0,1962-01-01,1.1059,-0.701394,1.843318,-0.22328,0.252523,-0.957945,-0.689003,0.695371,3.017808,1.23995
1,1962-04-01,1.23995,-0.526396,1.504081,-0.283558,0.00209,-0.998507,-0.642629,0.810091,1.078492,1.46765
2,1962-07-01,1.46765,-0.410606,1.211677,-0.22328,0.135224,-0.983757,-0.662504,0.781411,1.078492,1.23292
3,1962-10-01,1.23292,-0.643675,0.526038,-0.283558,0.149897,-1.013257,-0.692316,0.695371,1.017888,1.12695
4,1963-01-01,1.12695,-0.759474,0.239472,-0.163002,-0.208278,-1.031695,-0.659191,0.580651,0.169438,1.32406
5,1963-04-01,1.32406,-0.585408,0.330097,-0.22328,-0.425831,-1.016945,-0.642629,0.523291,0.896681,0.98619
6,1963-07-01,0.98619,-0.816286,0.732035,-0.283558,-0.410968,-0.987445,-0.619442,0.351211,1.38151,1.64582

In [444]:
cpipast1 = []
for i in range(4, len(df['CPI0'])-1):
    cpipast1.append(df['CPI0'][i])
cpipast1 = pd.DataFrame (cpipast1, columns = ['CPI-1'])
cpipast1

cpipast2 = []
for i in range(3, len(df['CPI0'])-2):
    cpipast2.append(df['CPI0'][i])
cpipast2 = pd.DataFrame (cpipast2, columns = ['CPI-2'])
cpipast2

cpipast3 = []
for i in range(2, len(df['CPI0'])-3):
    cpipast3.append(df['CPI0'][i])
cpipast3 = pd.DataFrame (cpipast3, columns = ['CPI-3'])
cpipast3

cpipast4 = []
for i in range(1, len(df['CPI0'])-4):
    cpipast4.append(df['CPI0'][i])
cpipast4 = pd.DataFrame (cpipast4, columns = ['CPI-4'])
cpipast4

cpipast5 = []
for i in range(0, len(df['CPI0'])-5):
    cpipast5.append(df['CPI0'][i])
cpipast5 = pd.DataFrame (cpipast5, columns = ['CPI-5'])
cpipast1

       CPI-1
0    1.12695
1    1.32406
2    0.98619
3    1.64582
4    1.40937
..       ...
230  1.40065
231  1.27815
232  2.65838
233  5.34102
234  5.38991

[235 rows x 1 columns]

In [445]:
ppipast1 = []
for i in range(4, len(df['PPI0'])-1):
    ppipast1.append(df['PPI0'][i])
ppipast1 = pd.DataFrame (ppipast1, columns = ['PPI-1'])
ppipast1

ppipast2 = []
for i in range(3, len(df['PPI0'])-2):
    ppipast2.append(df['PPI0'][i])
ppipast2 = pd.DataFrame (ppipast2, columns = ['PPI-2'])
ppipast2

ppipast3 = []
for i in range(2, len(df['PPI0'])-3):
    ppipast3.append(df['PPI0'][i])
ppipast3 = pd.DataFrame (ppipast3, columns = ['PPI-3'])
ppipast3

ppipast4 = []
for i in range(1, len(df['PPI0'])-4):
    ppipast4.append(df['PPI0'][i])
ppipast4 = pd.DataFrame (ppipast4, columns = ['PPI-4'])
ppipast4

ppipast5 = []
for i in range(0, len(df['PPI0'])-5):
    ppipast5.append(df['PPI0'][i])
ppipast5 = pd.DataFrame (ppipast5, columns = ['PPI-5'])
ppipast2

        PPI-2
0   -0.643675
1   -0.759474
2   -0.585408
3   -0.816286
4   -0.643675
..        ...
230 -1.477543
231 -0.911957
232 -0.505327
233  1.437928
234  2.975333

[235 rows x 1 columns]

In [446]:
aaapast1 = []
for i in range(4, len(df['AAA0'])-1):
    aaapast1.append(df['AAA0'][i])
aaapast1 = pd.DataFrame (aaapast1, columns = ['AAA-1'])
aaapast1

aaapast2 = []
for i in range(3, len(df['AAA0'])-2):
    aaapast2.append(df['AAA0'][i])
aaapast2 = pd.DataFrame (aaapast2, columns = ['AAA-2'])
aaapast2

aaapast3 = []
for i in range(2, len(df['AAA0'])-3):
    aaapast3.append(df['AAA0'][i])
aaapast3 = pd.DataFrame (aaapast3, columns = ['AAA-3'])
aaapast3

aaapast4 = []
for i in range(1, len(df['AAA0'])-4):
    aaapast4.append(df['AAA0'][i])
aaapast4 = pd.DataFrame (aaapast4, columns = ['AAA-4'])
aaapast4

aaapast5 = []
for i in range(0, len(df['AAA0'])-5):
    aaapast5.append(df['AAA0'][i])
aaapast5 = pd.DataFrame (aaapast5, columns = ['AAA-5'])
aaapast3

        AAA-3
0   -0.983757
1   -1.013257
2   -1.031695
3   -1.016945
4   -0.987445
..        ...
230 -1.463130
231 -1.677003
232 -1.724940
233 -1.743378
234 -1.455755

[235 rows x 1 columns]

In [447]:
upast1 = []
for i in range(4, len(df['U0'])-1):
    upast1.append(df['U0'][i])
upast1 = pd.DataFrame (upast1, columns = ['U-1'])
upast1

upast2 = []
for i in range(3, len(df['U0'])-2):
    upast2.append(df['U0'][i])
upast2 = pd.DataFrame (upast2, columns = ['U-2'])
upast2

upast3 = []
for i in range(2, len(df['U0'])-3):
    upast3.append(df['U0'][i])
upast3 = pd.DataFrame (upast3, columns = ['U-3'])
upast3

upast4 = []
for i in range(1, len(df['U0'])-4):
    upast4.append(df['U0'][i])
upast4 = pd.DataFrame (upast4, columns = ['U-4'])
upast4

upast5 = []
for i in range(0, len(df['U0'])-5):
    upast5.append(df['U0'][i])
upast5 = pd.DataFrame (upast5, columns = ['U-5'])
upast4

          U-4
0   -0.283558
1   -0.223280
2   -0.283558
3   -0.163002
4   -0.223280
..        ...
230 -1.428839
231 -0.946615
232  3.031731
233  1.163114
234  0.439778

[235 rows x 1 columns]

In [448]:
spendpast1 = []
for i in range(4, len(df['GOVSPEND0'])-1):
    spendpast1.append(df['GOVSPEND0'][i])
spendpast1 = pd.DataFrame (spendpast1, columns = ['GOVSPEND-1'])
spendpast1

spendpast2 = []
for i in range(3, len(df['GOVSPEND0'])-2):
    spendpast2.append(df['GOVSPEND0'][i])
spendpast2 = pd.DataFrame (spendpast2, columns = ['GOVSPEND-2'])
spendpast2

spendpast3 = []
for i in range(2, len(df['GOVSPEND0'])-3):
    spendpast3.append(df['GOVSPEND0'][i])
spendpast3 = pd.DataFrame (spendpast3, columns = ['GOVSPEND-3'])
spendpast3

spendpast4 = []
for i in range(1, len(df['GOVSPEND0'])-4):
    spendpast4.append(df['GOVSPEND0'][i])
spendpast4 = pd.DataFrame (spendpast4, columns = ['GOVSPEND-4'])
spendpast4

spendpast5 = []
for i in range(0, len(df['GOVSPEND0'])-5):
    spendpast5.append(df['GOVSPEND0'][i])
spendpast5 = pd.DataFrame (spendpast5, columns = ['GOVSPEND-5'])
spendpast2

     GOVSPEND-2
0      0.149897
1     -0.208278
2     -0.425831
3     -0.410968
4     -0.372709
..          ...
230    9.824278
231    4.978962
232    1.841161
233    6.600453
234   -2.946483

[235 rows x 1 columns]

In [449]:
gdppast1 = []
for i in range(4, len(df['GDP0'])-1):
    gdppast1.append(df['GDP0'][i])
gdppast1 = pd.DataFrame (gdppast1, columns = ['GDP-1'])
gdppast1

gdppast2 = []
for i in range(3, len(df['GDP0'])-2):
    gdppast2.append(df['GDP0'][i])
gdppast2 = pd.DataFrame (gdppast2, columns = ['GDP-2'])
gdppast2

gdppast3 = []
for i in range(2, len(df['GDP0'])-3):
    gdppast3.append(df['GDP0'][i])
gdppast3 = pd.DataFrame (gdppast3, columns = ['GDP-3'])
gdppast3

gdppast4 = []
for i in range(1, len(df['GDP0'])-4):
    gdppast4.append(df['GDP0'][i])
gdppast4 = pd.DataFrame (gdppast4, columns = ['GDP-4'])
gdppast4

gdppast5 = []
for i in range(0, len(df['GDP0'])-5):
    gdppast5.append(df['GDP0'][i])
gdppast5 = pd.DataFrame (gdppast5, columns = ['GDP-5'])
gdppast3

        GDP-3
0    1.211677
1    0.526038
2    0.239472
3    0.330097
4    0.732035
..        ...
230 -0.959380
231 -4.884550
232 -2.380955
233 -2.128588
234 -0.993244

[235 rows x 1 columns]

In [450]:
bondpast1 = []
for i in range(4, len(df['BOND0'])-1):
    bondpast1.append(df['BOND0'][i])
bondpast1 = pd.DataFrame (bondpast1, columns = ['BOND-1'])
bondpast1

bondpast2 = []
for i in range(3, len(df['BOND0'])-2):
    bondpast2.append(df['BOND0'][i])
bondpast2 = pd.DataFrame (bondpast2, columns = ['BOND-2'])
bondpast2

bondpast3 = []
for i in range(2, len(df['BOND0'])-3):
    bondpast3.append(df['BOND0'][i])
bondpast3 = pd.DataFrame (bondpast3, columns = ['BOND-3'])
bondpast3

bondpast4 = []
for i in range(1, len(df['BOND0'])-4):
    bondpast4.append(df['BOND0'][i])
bondpast4 = pd.DataFrame (bondpast4, columns = ['BOND-4'])
bondpast4

bondpast5 = []
for i in range(0, len(df['BOND0'])-5):
    bondpast5.append(df['BOND0'][i])
bondpast5 = pd.DataFrame (bondpast5, columns = ['BOND-5'])
bondpast3

       BOND-3
0   -0.662504
1   -0.692316
2   -0.659191
3   -0.642629
4   -0.619442
..        ...
230 -1.735738
231 -1.748987
232 -1.739050
233 -1.659551
234 -1.391243

[235 rows x 1 columns]

In [451]:
savpast1 = []
for i in range(4, len(df['S0'])-1):
    savpast1.append(df['S0'][i])
savpast1 = pd.DataFrame (savpast1, columns = ['S-1'])
savpast1

savpast2 = []
for i in range(3, len(df['S0'])-2):
    savpast2.append(df['S0'][i])
savpast2 = pd.DataFrame (savpast2, columns = ['S-2'])
savpast2

savpast3 = []
for i in range(2, len(df['S0'])-3):
    savpast3.append(df['S0'][i])
savpast3 = pd.DataFrame (savpast3, columns = ['S-3'])
savpast3

savpast4 = []
for i in range(1, len(df['S0'])-4):
    savpast4.append(df['S0'][i])
savpast4 = pd.DataFrame (savpast4, columns = ['S-4'])
savpast4

savpast5 = []
for i in range(0, len(df['S0'])-5):
    savpast5.append(df['S0'][i])
savpast5 = pd.DataFrame (savpast5, columns = ['S-5'])
savpast3

          S-3
0    0.781411
1    0.695371
2    0.580651
3    0.523291
4    0.351211
..        ...
230 -0.308430
231  7.148371
232  2.817691
233  1.355011
234  3.161851

[235 rows x 1 columns]

In [453]:
prodpast1 = []
for i in range(4, len(df['PROD0'])-1):
    prodpast1.append(df['PROD0'][i])
prodpast1 = pd.DataFrame (prodpast1, columns = ['PROD-1'])
prodpast1

prodpast2 = []
for i in range(3, len(df['PROD0'])-2):
    prodpast2.append(df['PROD0'][i])
prodpast2 = pd.DataFrame (prodpast2, columns = ['PROD-2'])
prodpast2

prodpast3 = []
for i in range(2, len(df['PROD0'])-3):
    prodpast3.append(df['PROD0'][i])
prodpast3 = pd.DataFrame (prodpast3, columns = ['PROD-3'])
prodpast3

prodpast4 = []
for i in range(1, len(df['PROD0'])-4):
    prodpast4.append(df['PROD0'][i])
prodpast4 = pd.DataFrame (prodpast4, columns = ['PROD-4'])
prodpast4

prodpast5 = []
for i in range(0, len(df['PROD0'])-5):
    prodpast5.append(df['PROD0'][i])
prodpast5 = pd.DataFrame (prodpast5, columns = ['PROD-5'])
prodpast3

       PROD-3
0    1.078492
1    1.017888
2    0.169438
3    0.896681
4    1.381510
..        ...
230 -0.679013
231  0.290645
232  1.017888
233  0.411852
234  1.139095

[235 rows x 1 columns]

In [454]:
df = df.iloc[5: , :]
df.reset_index(inplace=True)
df.drop('index', inplace=True, axis=1)
df

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,DATE0,CPI0,PPI0,GDP0,U0,GOVSPEND0,AAA0,BOND0,S0,PROD0,CPI1
0,1963-04-01,1.32406,-0.585408,0.330097,-0.22328,-0.425831,-1.016945,-0.642629,0.523291,0.896681,0.98619
1,1963-07-01,0.98619,-0.816286,0.732035,-0.283558,-0.410968,-0.987445,-0.619442,0.351211,1.38151,1.64582
2,1963-10-01,1.64582,-0.643675,0.869942,-0.283558,-0.372709,-0.972695,-0.596255,0.752731,0.896681,1.40937
3,1964-01-01,1.40937,-0.585408,1.297259,-0.343836,-0.292185,-0.961633,-0.566443,0.523291,1.199699,1.30676
4,1964-04-01,1.30676,-0.701759,1.283089,-0.464392,-0.185635,-0.95057,-0.592942,1.010851,1.017888,1.17188
...,...,...,...,...,...,...,...,...,...,...,...
230,2020-10-01,1.27815,-0.505327,-2.128588,0.439778,1.841161,-1.743378,-1.659551,1.355011,0.411852,2.65838
231,2021-01-01,2.65838,1.437928,-0.993244,0.017832,6.600453,-1.455755,-1.391243,3.161851,1.139095,5.34102
232,2021-04-01,5.34102,2.975333,3.725956,-0.042446,-2.946483,-1.547942,-1.487304,1.068211,0.108834,5.38991
233,2021-07-01,5.38991,3.128378,0.784413,-0.765781,-1.926525,-1.643816,-1.464117,0.465931,-1.46686,7.09654
234,2021-10-01,7.09654,3.094729,1.021558,-1.248005,-0.868107,-1.599566,-1.464117,-0.39447,-0.072977,8.55759

In [455]:
df = pd.concat([df, cpipast1, cpipast2, cpipast3, cpipast4, cpipast5, ppipast1, ppipast2, ppipast3, ppipast4, ppipast5, gdppast1, gdppast2, gdppast3, gdppast4, gdppast5, upast1, upast2, upast3, upast4, upast5, spendpast1, spendpast2, spendpast3, spendpast4, spendpast5, aaapast1, aaapast2, aaapast3, aaapast4, aaapast5, bondpast1, bondpast2, bondpast3, bondpast4, bondpast5, savpast1, savpast2, savpast3, savpast4, savpast5, prodpast1, prodpast2, prodpast3, prodpast4, prodpast5], axis=1) 
df = df. T. drop_duplicates(). T
df

,DATE0,CPI0,PPI0,GDP0,U0,GOVSPEND0,AAA0,BOND0,S0,PROD0,...,S-1,S-2,S-3,S-4,S-5,PROD-1,PROD-2,PROD-3,PROD-4,PROD-5
0,1963-04-01,1.32406,-0.585408,0.330097,-0.22328,-0.425831,-1.016945,-0.642629,0.523291,0.896681,...,0.580651,0.695371,0.781411,0.810091,0.695371,0.169438,1.017888,1.078492,1.078492,3.017808
1,1963-07-01,0.98619,-0.816286,0.732035,-0.283558,-0.410968,-0.987445,-0.619442,0.351211,1.38151,...,0.523291,0.580651,0.695371,0.781411,0.810091,0.896681,0.169438,1.017888,1.078492,1.078492
2,1963-10-01,1.64582,-0.643675,0.869942,-0.283558,-0.372709,-0.972695,-0.596255,0.752731,0.896681,...,0.351211,0.523291,0.580651,0.695371,0.781411,1.38151,0.896681,0.169438,1.017888,1.078492
3,1964-01-01,1.40937,-0.585408,1.297259,-0.343836,-0.292185,-0.961633,-0.566443,0.523291,1.199699,...,0.752731,0.351211,0.523291,0.580651,0.695371,0.896681,1.38151,0.896681,0.169438,1.017888
4,1964-04-01,1.30676,-0.701759,1.283089,-0.464392,-0.185635,-0.95057,-0.592942,1.010851,1.017888,...,0.523291,0.752731,0.351211,0.523291,0.580651,1.199699,0.896681,1.38151,0.896681,0.169438
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,2020-10-01,1.27815,-0.505327,-2.128588,0.439778,1.841161,-1.743378,-1.659551,1.355011,0.411852,...,2.817691,7.148371,-0.30843,-0.42315,-0.53787,1.017888,0.290645,-0.679013,0.230041,0.04823
231,2021-01-01,2.65838,1.437928,-0.993244,0.017832,6.600453,-1.455755,-1.391243,3.161851,1.139095,...,1.355011,2.817691,7.148371,-0.30843,-0.42315,0.411852,1.017888,0.290645,-0.679013,0.230041
232,2021-04-01,5.34102,2.975333,3.725956,-0.042446,-2.946483,-1.547942,-1.487304,1.068211,0.108834,...,3.161851,1.355011,2.817691,7.148371,-0.30843,1.139095,0.411852,1.017888,0.290645,-0.679013
233,2021-07-01,5.38991,3.128378,0.784413,-0.765781,-1.926525,-1.643816,-1.464117,0.465931,-1.46686,...,1.068211,3.161851,1.355011,2.817691,7.148371,0.108834,1.139095,0.411852,1.017888,0.290645
234,2021-10-01,7.09654,3.094729,1.021558,-1.248005,-0.868107,-1.599566,-1.464117,-0.39447,-0.072977,...,0.465931,1.068211,3.161851,1.355011,2.817691,-1.46686,0.108834,1.139095,0.411852,1.017888

add some past means, medians, max, min